@font-face {
    font-family: 'Audiowide-Regular';
    src: url(Fonts/Audiowide-Regular.ttf) format(truetype);
    font-weight: 400;
}

:root{
    --font: Audiowide-Regular;
    --font_secondary: Arial;

    --main-color: #ffffff;
    --secondary-color: #e9e9e9;
}

body{
    margin: 18vw;
    margin-top: 36px;
    margin-bottom: 36px;
}

h1{
    font-family: var(--font);
}

p{
    font-family: var(--font_secondary);
    font-size: 21px;
}

li{
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}

input::placeholder{
    color: black;
}

img{
    height: auto;
    width: 100%;
    border-radius: 56px;
}

div{
    font-family: var(--font_secondary);
}

.icon{

}

.margin0{
    margin: 0;
}

.padding0{
    padding: 0;
}

.displayFlex{
    display: flex;
}

.alignCenter{
    align-items: center;
}

.rotate90{
    transform: rotate(90deg);
}

#navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    height: 62px;
    padding: 12px;
    padding-right: 0;
    padding-left: 0;

    background-color: var(--secondary-color);
    border-radius: 24px;
}

#navUl{
    display: flex;
    align-items: center;

    height: 100%;

    gap: 24px;
    margin-right: 24px;
    margin-left: 24px;
    padding-right: 24px;
    padding-left: 24px;
    
    background-color: var(--main-color);
    border-radius: 100px;
}

#navHeader{
    font-family:var(--font), sans-serif;
    margin: 0;
}

#SearchBar{
    display: flex;
    height: 100%;
    align-items: center;

    font-family: var(--font_secondary);
    margin-left: 12px;
    margin-right: 12px;
    padding-right: 24px;
    padding-left: 12px;
    background-color: var(--main-color);
    border-radius: 100px;
}

#searchInput{
    margin: 12px;
    border: 0;
    width: 92px;
    font-size: 16px;
}

#NavProfile{
    display: flex;
}

#navIcons{
    width: 24px;
    height: auto;
}

#navLink{
    font-size: 24px;
}

#navLinkDiv{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 48px;
    width: 48px;

    margin-right: 12px;

    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 100%;
}

#HeroHeader{
    font-size: 148px;
    text-align: center;
    margin: 48px;
}

#HeroContent{
    display: flex;
}

#HeroBarcode{
    height: auto;
    width: 12vw;

    margin-top: 12px;

    border-radius: 0;
}

#HeroP1{
    width: 26vw;
    color: gray;
    margin-bottom: 144px;
}

#HeroImage2{
    width: 24vw;
}

#HeroPlayBtn{
    width: 68px;
    height: 68px;

    margin-left: -36px;
}

#HeroLeftImages{
    display: flex;
    align-items: center;
}

#HeroRightImages{
    display: flex;
    gap: 12px;
    margin-top: 12px;
}

#HeroImagesDiv{
    width: 50%;
    
    border-radius: 36px;
    padding: 12px;
    background-color: var(--secondary-color);
}

#HeroImgRight{
    height: auto;
    width: 150px;
}

#HeroP2{
    display: flex;
    align-items: center;

    height: 100%;
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;

    background-color: var(--main-color);
    border-radius: 36px;
}