@font-face {
    font-family: 'Audiowide-Regular';
    src: url(Fonts/Audiowide-Regular.ttf) format(truetype);
    font-weight: 400;
}

:root{
    --font: Audiowide-Regular;
    --font_secondary: Arial;

    --main-color: #ffffff;
    --secondary-color: #e9e9e9;
}

body{
    margin: 18vw;
    margin-top: 24px;
    margin-bottom: 0;
}

h1{
    font-size: 86px;
    font-family: var(--font);
}

p{
    font-family: var(--font_secondary);
    font-size: 21px;
}

li{
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: black;
    font-family: var(--font_secondary);
}

input::placeholder{
    color: black;
}

img{
    height: auto;
    width: 100%;
    border-radius: 56px;
}

div{
    font-family: var(--font_secondary);
}

.icon{

}

.margin0{
    margin: 0;
}

.padding0{
    padding: 0;
}

.displayFlex{
    display: flex;
}

.alignCenter{
    align-items: center;
}

.rotate90{
    transform: rotate(90deg);
}

.BoldText{
    font-weight: bold;
}

.AlignTextLeft{
    text-align: left;
}

.AlignTextRight{
    text-align: right;
}

.CenterText{
    text-align: center;
}

.GrayText{
    color: gray;
}

.WhiteText{
    color: white;
}

.Hide{
    display: none;
}

.CenterDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    height: 62px;
    padding: 12px;
    padding-right: 0;
    padding-left: 0;

    background-color: var(--secondary-color);
    border-radius: 24px;
}

#navUl{
    display: flex;
    align-items: center;

    height: 100%;

    gap: 24px;
    margin-right: 24px;
    margin-left: 24px;
    padding-right: 48px;
    padding-left: 48px;
    
    background-color: var(--main-color);
    border-radius: 100px;
}

#navHeader{
    font-family:var(--font), sans-serif;
    margin: 0;
}

#SearchBar{
    display: flex;
    height: 100%;
    align-items: center;

    font-family: var(--font_secondary);
    margin-left: 12px;
    margin-right: 12px;
    padding-right: 36px;
    padding-left: 24px;
    background-color: var(--main-color);
    border-radius: 100px;
}

#searchInput{
    margin: 12px;
    border: 0;
    width: 92px;
    font-size: 16px;
}

#NavProfile{
    display: flex;
}

#navIcons{
    width: 24px;
    height: auto;
}

#navLink{
    font-size: 24px;
}

#navLinkDiv{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 48px;
    width: 48px;

    margin-right: 12px;

    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 100%;
}

#HeroHeader{
    font-size: 148px;
    text-align: center;
    margin: 48px;
}

#HeroContent{
    display: flex;
}


#HeroBarcode{
    height: auto;
    width: 12vw;

    margin-top: 12px;

    border-radius: 0;
}

#HeroP1{
    width: auto;
    max-width: 26vw;
    color: gray;
    margin-bottom: 124px;
    margin-right: 64px;
}

#HeroImage2{
    width: 24vw;
}

#HeroPlayBtn{
    width: 68px;
    height: 68px;

    margin-left: -36px;
}

#HeroLeftImages{
    display: flex;
    align-items: center;
}

#HeroRightImages{
    display: flex;
    gap: 12px;
    margin-top: 12px;
}

#HeroImagesDiv{
    width: 50%;
    
    border-radius: 36px;
    padding: 12px;
    background-color: var(--secondary-color);
}

#HeroImgRight{
    height: auto;
    width: 150px;
}

#HeroP2{
    display: flex;
    align-items: center;

    height: 100%;
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;

    background-color: var(--main-color);
    border-radius: 36px;
}

#AboutUs{
    display: flex;
}

#ShopNowBtn{
    color: white;
    background-color: black;
    font-weight: bold;

    padding: 21px;
    
    padding-right: 32px;
    padding-left: 32px;

    border-radius: 100px;
}

#AboutSplitRight{
    display: flex;
    align-items: center;
    margin-left: 48px;
}

#ShopNowBtn{
    display: flex;
    justify-content: center;
    width: 128px;
}

#AboutP1{
    max-width: 26vw;
    color: gray;
}

#Expo{
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 58px;
    background-color: var(--secondary-color);
}

#ExpoMargins{
    display: flex;

    padding: 46px;
    margin: 16vw;
    margin-top: 24px;
    margin-bottom: 24px;
}

#ExpoAcc1{
    position: relative;
    top: 82px;
    left: 48px;
}

#ExpoSplitRight{
    margin-left: 36px;
}

#ExpoP{
    margin-top: 64px;
    margin-bottom: 64px;
    margin-right: 168px;
}

#ExpoP1{
    margin-top: 84px;
    margin-bottom: 64px;
    margin-left: 188px;
}

#ProductHeader{
    margin-top: 104px;
}

#Product{
    display: flex;
    justify-content: space-evenly;
}

#ProductPage{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    margin-top: 48px;
}

#ProductOffer{
    margin-right: 24px;
    margin-left: 24px;
}

#ProductCategory{
    color: gray;
    font-size: 16px;
}

#ProductName{
    font-size: 16px;
}

#ProductPrice{
    margin: 6px;
}

#ProductCatPrice{
    display: flex;
    align-items: center;
    gap: 12px;
}

#ProductImage{
    width: 264px;
    height: 264px;
    margin-bottom: 24px;
    border-radius: 32px;
}

#ProductsP1{
    margin-top: 52px;
    margin-bottom: 24px;
}

#ProductsViewMore{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;

    width: auto;

    padding: 16px;
    padding-right: 24px;
    padding-left: 24px;

    margin-right: 28vw;
    margin-left: 28vw;
    border-radius: 100px;
}

#Footer{
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 72px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: black;
}

#FooterMargins{
    display: flex;
    justify-content: center;

    padding: 46px;
    margin: 16vw;
    margin-top: 24px;
    margin-bottom: 24px;    
}

#FooterDiv1{
    display: flex;
    gap: 42vw;
}

#FooterH1{
    text-align: center;
    font-size: 64px;
    margin: -16px;
}

#FooterDiv2{
    display: flex;
    gap: 31vw;
    margin-top: 64px;
}

#FooterIconsContainer{
    display: flex;
    height: 64px;
}

.FooterIcon{
    width: auto;
    height: 100%;
}
